.note {
    padding: 17px 17px 17px 17px;
    height: 42vh;
    width: 22vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(69, 219, 219);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgb(100, 104, 104);
}

.note_text {
    padding: 15px;
    flex: 1;
    resize: none;
    background-color: transparent;
    font-size: 1.1rem;
    line-height: 1.7rem;
    outline: none;
    border: none;
}

.note p {
    padding: 15px;
}


.note_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.note_del_img{
    cursor: pointer;
    opacity: 0;
}

.note:hover .note_del_img{
    height: 25px;
    width: 25px;
    opacity: 1;
    transition: 600ms;
}




.custom-scroll-note::-webkit-scrollbar{
    width: 11px;
    z-index: 100;
    
}

.custom-scroll-note::-webkit-scrollbar-track{
    background-color: transparent;
}

.custom-scroll-note::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(131, 124, 124);
    transition: 300ms;
}

.custom-scroll-note::-webkit-scrollbar-thumb:hover{
    cursor:pointer;
    background-color: black;
}